{% extends "basic_template.html" %}

{% block title %}Crear producto{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/styleCrearActua.css"> {% endblock %}

{% block content %}
<div class="d-flex" id="content-wrapper">

  {% include 'sidebar.html' %}

  <div class="w-100">

   <!-- Navbar -->
   {% include 'nabar.html' %}
    <!-- Fin Navbar -->

  <!-- Page Content -->
  <div id="content" class="bg-grey w-100">

        <section class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                      <h1 class="font-weight-bold mb-0">Registro de artículo  </h1>
                      
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <!--
                <div class="row">
                   <div>
                    <br><br><br>
                    &nbsp;
                    <input type="text" size="70" maxlength="70" placeholder="Nombre"><br><br>
                    &nbsp;
                    <input type="text" size="70" maxlength="70" placeholder="Referencia"><br><br>
                    &nbsp;
                    <input type="text" placeholder="Cantidad"><br><br>
                    &nbsp;
                    <input type="text" placeholder="Precio"><br><br>
                    &nbsp;
                    <input type="text" placeholder="Adjuntar imagen">&nbsp; <input type="file"><br><br>
                    &nbsp;
                    <input type="submit" id="Agregar" value="Agregar artículo">
                                            
                </div>
                -->
                
                <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <div>
                      {{ form.name.label }}
                      {{ form.name }}<br>
                      {% for error in form.name.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  <div>
                      {{ form.description.label }}
                      {{ form.description }}<br>
                      {% for error in form.description.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  <div>
                      {{ form.quantity.label }}
                      {{ form.quantity }}<br>
                      {% for error in form.quantity.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  <div>
                      {{ form.price.label }}
                      {{ form.price }}<br>
                      {% for error in form.price.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                  <div>
                      {{ form.submit() }}
                  </div>
                </form>
            </div>
         </div>
        </section>

  </div>

  </div>
</div>
{% endblock %}

{% block javascript %} <script type="text/javascript" src="../static/JS/CrearProducto.js"></script> {% endblock%}
