{% extends "basic_template.html" %}

{% block title %}Gestión de Cajeros{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/style_Gesti_Caje.css"> {% endblock %}

{% block content %}
<div class="d-flex" id="content-wrapper">

  <!-- Sidebar -->
  {% include 'sidebar.html' %}
  <!-- Fin sidebar -->

  <div class="w-100">
    {% include 'nabar.html' %}
   <!-- Navbar -->
   <!--
   <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../static/IMAGENES/Login-usuario.png" width="40" height="60" class="img-fluid rounded-circle avatar mr-2"
                alt="" />
              Usuario - Administrador
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <a class="dropdown-item" href="#">Gestión de Ventas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  -->
    <!-- Fin Navbar -->

  <!-- Page Content -->
  <div id="content" class="bg-grey w-100">

        <section class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                      <h1 class="font-weight-bold mb-0">Gestión de Cajeros  </h1>
                      
                    </div>
                </div>
            </div>
        </section>

        <section>
            <!--
            <div class="container">
                <div class="row">
                   <div>
                    <br><br><br>
                    &nbsp;
                    <input type="text" id="Nombre" size="70" maxlength="70" placeholder="Nombre del Cajero"><br><br>
                    &nbsp;
                    <input type="text" id="Cedula" size="70" maxlength="70" placeholder="Cédula"><br><br>
                    &nbsp;
                    <input type="text" id="Correo" size="70" maxlength="70" placeholder="Correo electrónico"><br><br>
                    &nbsp;
                    <input type="text" id="Contraseña" placeholder="Contraseña"><br><br>
                    &nbsp;
                    <label for="username">Subir foto: </label>&nbsp;<input type="file"><br><br>
                    &nbsp;
                    <input type="submit" id="Agregar" value="Agregar Empleado" >
                                            
                </div>
            </div>
            </div>
            -->


            <form action="" method="post" novalidate id="formulariologin" class="formulariologin">
              {{ form.hidden_tag() }}
              <div>
                  {{ form.username.label }}
                  {{ form.username }}<br>
                  {% for error in form.username.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
              <div>
                  {{ form.cedula.label }}
                  {{ form.cedula }}<br>
                  {% for error in form.cedula.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
              <div>
                  {{ form.email.label }}
                  {{ form.email }}<br>
                  {% for error in form.email.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
              <div>
                  {{ form.password.label }}
                  {{ form.password }}<br>
                  {% for error in form.password.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
              <div>
                  {{ form.password_check.label }}
                  {{ form.password_check }}<br>
                  {% for error in form.password_check.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
              <div>
                  {{ form.submit() }}
              </div>
          </form>

        </section>

  </div>

  </div>
</div>
{% endblock %}

{% block javascript %} <script type="text/javascript" src="../static/JS/GestionCajeros.js"></script> {% endblock%}
