{% extends "basic_template.html" %}

{% block title %}Cafeteria Brioche{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/estilos.css"> {% endblock %}

{% block content %}
<section id="galeria" class="container">
    <div class="text-center pt-5">
        <h1>Galeria</h1>
        <h3> <a href="/paginaPrinCajero">
            Volver a Inicio </a> </h3>
        
    </div>
    <div class="row">
        <div class="col-lg-4" col-md-6 col-sm-12>
            <img src="../static/IMAGENES/galeria/img1.jpg" alt="Galeria Imagen">
        </div>
        <div class="col-lg-4" col-md-6 col-sm-12>
            <img src="../static/IMAGENES/galeria/img2.jpg" alt="Galeria Imagen">
        </div>
        <div class="col-lg-4" col-md-6 col-sm-12>
            <img src="../static/IMAGENES/galeria/img3.jpg" alt="Galeria Imagen">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="../static/IMAGENES/galeria/img4.jpg" alt="Galeria Imagen">
        </div>
        <div class="col-lg-4" col-md-6 col-sm-12>
           
            <img src="../static/IMAGENES/galeria/img5.jpg" alt="Galeria Imagen">
        </div>
        <div class="col-lg-4" col-md-6 col-sm-12>
            <img src="../static/IMAGENES/galeria/img6.png" alt="Galeria Imagen">
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %} {% endblock%}
