{% extends "basic_template.html" %}

{% block title %}Incio de Sesion{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/master.css"> {% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-top">
            <img class="avatar" src="../static/IMAGENES/Panaderia.png" alt="">
            <h1 class="login-title">Cafeteria Brioche</h1>
            <h1>LOGIN</h1>
        </div>
        <table>
            <tr>
            <td><a href="/loginAdmin"></i>
                <h3>Administrador</h3> </a><br>
            </td>
            <td>
                <td><a href="/loginCajero"></i>
                <h3>Cajero</h3> </a><br>
                </td>
            </td>
        
        </tr>
        </table>
    </div>

    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>

    <footer class="tm"> 
        Copyright &copy 2020 - Todos los derechos reservados, Cafetería BRIOCHE - Diseñado por: Grupo G, MisionTIC.
    </footer>

{% endblock %}

