{% extends "basic_template.html" %}

{% block title %}Home - Cajeros{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/style_Gesti_Caje.css"> {% endblock %}

{% block content %}
<div class="d-flex" id="content-wrapper">

  <!-- Sidebar -->
  <div id="sidebar-container">
      <div class="logo">
          <h3 class="text-light font-weight-bold mb-0">Cafeteria Brioche</h3> 
          <img src="../static/IMAGENES/Panaderia.png" width="80" height="100" class="img-fluid rounded-circle avatar mr-2"
                alt="" />
      </div>
      <div class="menu"><br><br>
          
          &nbsp;&nbsp;<a class="text-light font-weight-bold mb-0" href="/crearproducto"></i>
              Crear Producto </a><br>

          <br>&nbsp;&nbsp;<a class="text-light font-weight-bold mb-0" href="/actelimproducto"></i>
              Actualizar Productos</a><br>

          <br>&nbsp;&nbsp;<a class="text-light font-weight-bold mb-0" href="/gestionventas"></i>
              Gestionar Ventas </a><br>
      </div>
  </div>
  <!-- Fin sidebar -->

  <div class="w-100">

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../static/IMAGENES/Login-usuario.png" width="40" height="60" class="img-fluid rounded-circle avatar mr-2"
                alt="" />
              Usuario - Cajero
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

  <!-- Page Content -->
  <div id="content" class="bg-grey w-100">

        <section class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                      <h1 class="font-weight-bold mb-0">Bienvenido  </h1>
                      
                    </div>
                </div>
            </div>
        </section>

        <section>
          <img src="../static/IMAGENES/Cafeteria3.png" alt="" width="100%" height="100%" opacity = 0.4>
      </section>

  </div>

  </div>
</div>

{% endblock %}

{% block javascript %} {% endblock%}
