{% extends "basic_template.html" %}

{% block title %}Home - Cajeros{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/style_Gesti_Caje.css"> {% endblock %}

{% block content %}
<div class="d-flex" id="content-wrapper">

  {% include 'sidebar.html' %}

  <div class="w-100">

   <!-- Navbar -->
   {% include 'nabar.html' %}
    <!-- Fin Navbar -->

  <!-- Page Content -->
  <div id="content" class="bg-grey w-100">

        <section class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                      <h1 class="font-weight-bold mb-0">Bienvenido  </h1>
                      
                    </div>
                </div>
            </div>
        </section>

        <section>
          <img src="../static/IMAGENES/Cafeteria3.png" alt="" width="100%" height="100%" opacity = 0.4>
      </section>

  </div>

  </div>
</div>

{% endblock %}

{% block javascript %} {% endblock%}
