{% extends "basic_template.html" %}

{% block title %}Inicio de Sesión{% endblock %}

{% block style %} <link rel="stylesheet" href="../static/CSS/master.css"> {% endblock %}

{% block content %}
<div class="recuperar-box">
    <div class="login-top">
        <img class="avatar" src="../static/IMAGENES/Panaderia.png" alt="">
        <h1 class="login-title">Cafeteria Brioche</h1>
        <h1>Usuario</h1>
    </div>
    
    <form action="{{url_for('send_password')}}" method="POST">
        <!-- UserName -->
        <label for="username">Usuario</label>
        <input type="email" name="email" placeholder="&#128100; Ingresar Correo" required autofocus>
        
        <input type="submit" value="Recuperar Contraseña">
        
    </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="tm"> 
    Copyright &copy 2020 - Todos los derechos reservados, Cafetería BRIOCHE - Diseñado por: Grupo G, MisionTIC.
</footer>
{% endblock %}

{% block javascript %} {% endblock%}
